body {
	color: #1B224C;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	line-height: 1.5;
	input,textarea,button {
		margin: 0;
		padding: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	button {
		border: 0;
	}
	& * {
		box-sizing: border-box;
	}
}

// -webkit- …… Google Chrome、Safari
// -moz-    …… Firefox
// -o-      …… Opera
// -ms-     …… Internet Explorer

//---------- Header ----------//


//---------- Main ----------//

//---------- ContactPage ----------//
.contact {
	.contact__area {
		max-width: 700px;
		margin: 3rem auto 5rem;
		.contact__text {
			margin-bottom: 2.5rem;
		}
		.form__items {
			margin-bottom: 2rem;
		}
		.form__item {
			margin-bottom: 1.2rem;
		}
		.form__title {
			margin-bottom: .5rem;
		}
		.form-box,.form__message {
			width: 100%;
			font-size: 12px;
			padding-left: 20px;
		}
		.form-box {
			height: 50px;
		}
		.form__title--bold {
			font-weight: bold;
		}
		.form__radio-name,.form__check-name {
			display: flex;
			align-items: center;
			margin-bottom: .5rem;
		}
		.form__radio,.form__policy-check {
			width: 20px;
	    height: 20px;
			margin-right: 1rem;
		}
		.form__message {
			height: 240px;
			padding-top: 20px;
		}
		.form__policy--center {
			text-align: center;
		}
		.form__policy-text {
			margin-bottom: 2rem;
		}
		.form__policy-link {
			color: #F5A623;
			text-decoration: underline;
			&:hover {
				opacity: .6;
			}
		}
		.form__check-name {
			justify-content: center;
			margin-bottom: 3rem;
		}
		.form__contact-btn {
			display: block;
			margin: 0 auto;
			width: 200px;
			height: 50px;
			color: white;
			background: #1B224C;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

//---------- ThanksPage ----------//
.thanks {
	.thanks__area {
		max-width: 900px;
		text-align: center;
		margin: 5rem auto;
	}
	.thanks__message {
		margin-bottom: 5rem;
	}
	.thanks__home-link {
		color: #1B224C;
		text-decoration: underline;
	}
}

//---------- Footer ----------//